html{
	font-size:10px;
}
.primary-btn{
	background-color:#3fbbc0;
	color:#fff;
	border-radius:4px;
	font-size:1.5rem;
}
.bg-color{
		background-color:#f7fcfc;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	color:#222222;
}
p{
	color:#444444;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
section{
	padding:60px 0px;
}
.header-top{
	background-color:#3fbbc0;
	padding:8px 0px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index:99;
}
.head-time-clock p{
	margin:0;
	font-size:1.5rem;
	font-weight:500;
	color:#fff;
}
.head-time-clock p i{
	display:inline-block;
	padding-right:5px;
	font-size:1.7rem;
}
/*header-sec-start*/
    .header{
		background-color:#fff;
		padding:20px 0px;
		position: fixed;
        left: 0;
        top: 38px;
        width: 100%;
		z-index:99;
		box-shadow:0px 0px 30px rgba(0, 0, 0, 0.1);
	}
	.head-info a{
		display:block;
	}
	.head-info nav ul li{
		display:inline-block;
		margin:0px 5px;
	}
	.head-info nav ul li a{
		display:block;
		padding:10px;
		font-size:1.3rem;
		font-weight:600;
		color:#222222;
	}
	.head-nav-btn > a{
		padding:8px 25px;
		font-size:1.5rem;
		font-weight:400;
	}
/*header-sec-end*/
/*banner-sec-start*/
    .banner-sec{
		background-image:url(../images/slide/slide-3.jpg);
		height:100vh;
		background-size:cover;
		background-position:center top;
		background-attachment:fixed;
	}
	.banner-con{
		background-color:rgba(255, 255, 255, 0.9);
		padding:30px 10px 30px 10px;
		border-top:4px solid #3fbbc0;
	}
	
	.banner-con h1{
		font-size:3.5rem;
		font-weight:700;
		margin-bottom:25px;
	}
	.banner-con p{
		font-size:1.6rem;
		margin-bottom:25px;
	}
	.banner-con a{
		display:inline-block;
		padding:8px 28px;
		font-weight:500;
	}
/*banner-sec-end*/
/*information-sec-start*/
    .info-sec{
		background-color:#fff;
	}
    .info-boxs{
		background-color:#fff;
		box-shadow:0 0 25px #77777730;
		padding:30px 25px;
		border-radius:5px;
		min-height:245px;
		position:relative;
		transition:all 0.4s ease;
		z-index:1;
	}
	.info-boxs::before{
		content:"";
		position:absolute;
		bottom:0;
		left:0;
		background-color:#3fbbc0;
		width:100%;
		height:0%;
		transition:all 0.4s ease;
		
	}
	.info-boxs:hover .icon i,
	.info-boxs:hover h4,
	.info-boxs:hover p{
		color:white;
		transition:all 0.4s ease;
	}
	.info-boxs:hover::before{
		height:100%;
		bottom:0;
		z-index:-1;
	}
	.info-boxs .icon i{
		color:#3fbbc0;
		font-size:4.7rem;
	}
	.info-boxs h4{
		font-size:1.8rem;
		font-weight:700;
		margin-bottom:20px;
	}
	.info-boxs p{
		font-size:1.5rem;
		line-height:24px;
	}
/*information-sec-end*/
/*emergency-sec-start*/
    .emergency-sec{
		background-color:#3fbbc0;
		color:#fff;
	}
	.help-con h3{
		font-size:3rem;
		font-weight:600;
		color:#fff;
	}
	.help-con p{
		font-size:1.7rem;
		margin-bottom:20px;
		color:#fff;
	}
	.help-con a{
		display:inline-block;
		padding:1rem 2.6rem;
		border:2px solid #fff;
		border-radius:50px;
		font-size:1.6rem;
		font-weight:600;
		color:#fff;
		transition:all 0.6s ease;
	}
	.help-con a:hover{
		background-color:#fff;
		color:#3fbbc0;
		transition:all 0.6s ease;
	}
/*emergency-sec-end*/
/*about-sec-start*/
    .head-con{
		margin-bottom:30px;
	}
	.head-con h2{
		font-size:3rem;
		font-weight:700;
		position:relative;
		padding-bottom:15px;
		margin-bottom:15px;
	}
	.head-con h2:after{
		content:"";
		position:absolute;
		left:50%;
		bottom:0;
		transform:translateX(-50%);
		display:block;
		width:50px;
		height:3px;
		background-color:#3fbbc0;
	}
	.head-con p{
		font-size:1.7rem;
	}
	.about-con h3{
		font-size:2.6rem;
		font-weight:600;
		margin-bottom:10px;
	}
	.about-con p{
		font-size:1.7rem;
	}
	.about-con ul{
		margin:18px 0px 24px 0px;
	}
	.about-con ul li{
		font-size:1.7rem;
		margin-bottom:15px;
	}
	.about-con ul li i{
		color:#3fbbc0;
		font-size:2.2rem;
		padding-right:10px;
	}
/*about-sec-end*/
/*number-sec-start*/
    .number-con{
		box-shadow:0 0 50px #77777730;
		padding:20px 25px;
	}
    .number-con .icon i{
		font-size:3.5rem;
		color:#3fbbc0;
	}
	.number-con .icon span{
		display:inline-block;
		font-size:4rem;
		font-weight:700;
		color:#555555;
		margin-left:10px;
	}
	.number-con p{
		font-size:1.4rem;
		margin-bottom:15px;
	}
	.number-con a{
		display:inline-block;
		margin-bottom:10px;
		font-size:1.6rem;
		color:#7b7b7b;
		font-weight:700;
		transition:0.5s;
	}
	.number-con a:hover{
		color:#3fbbc0;
		transition:0.5s;
	}
/*number-sec-end*/
/*description-sec-start*/
    .discription-box{
		margin-bottom:4rem;
	}
    .discription-box .icon i{
		font-size:4.5rem;
		color:#3fbbc0;
	}
	.discription-box .con{
		margin-left:15px;
	}
	.discription-box .con h5{
		font-size:2.1rem;
		font-weight:600;
		margin-bottom:10px;
	}
	.discription-box .con p{
		font-size:1.6rem;
		color:#848484;
	}
	.discription-img img{
		background-size:cover;
	}
/*description-sec-end*/
/*SERVICES-sec-start*/
    .service-box{
		margin-bottom:4rem;
	}
    .service-box .icon{
		display:inline-block;
		color:#3fbbc0;
		font-size:4rem;
		width:8rem;
		height:8rem;
		background-color:#fff;
		border-radius:50%;
		box-shadow:0px 0px 20px #77777740;
		margin-bottom:20px;
	}
	.service-box h5{
		font-size:1.8rem;
		font-weight:600;
		position:relative;
		margin-bottom:15px;
		padding-bottom:15px;
	}
	.service-box h5:after{
		content:"";
		position:absolute;
		display:block;
		left:50%;
		transform:translateX(-50%);
		bottom:0;
		width:50px;
		height:3px;
		background-color:#3fbbc0;
	}
	.service-box p{
		font-size:1.5rem;
	}
/*SERVICES-sec-end*/
/*appointment-sec-start*/
    
	.data-box{
		border-radius:0;
		padding:10px;
		font-size:15px;
		font-weight:400;
	}
	.appoinment-btn{
		padding:1rem 3rem;
		color:#fff;
	    border-radius:50px;
		font-size:1.7rem;
		background-color:#3fbbc0;
	}
/*appointment-sec-end*/
/*doctors-sec-start*/
    .doc-card{
		border:none;
		border-radius:4px;
	}
	.doc-card img{
		border-radius:4px 4px 0px 0px;
	}
	.doc-card .doctor-info{
		padding:2rem;
	}
	.doctor-info h4{
		font-size:1.8rem;
		font-weight:700;
	}
	.doctor-info p{
		font-size:1.3rem;
	}
/*doctors-sec-end*/
/*questioins-sec-start*/
	.accordion-button{
		background-color:#f7fcfc;
		padding:2rem 1.25rem;
		font-size:1.8rem;
	}
	.accordion-button::before{
		content: "";
		width: 1.25rem;
		height: 1.25rem;
		background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
		background-repeat: no-repeat;
		background-size: 1.25rem;
		transition: transform .2s ease-in-out;
	}
/*questioins-sec-end*/


